@model IEnumerable<Test_Project.Models.Recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Recognition List</h2>

<p>
    @Html.ActionLink("Give Recognition", "Create")
</p>
<table class="table table-striped table-border table-hover">
    <tr>
        <th>
            <span class="glyphicon glyphicon-user"></span> @Html.DisplayNameFor(model => model.Profile.firstName)
        </th>
        <th>
            <span class="	glyphicon glyphicon-pencil"></span> @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            <span class="glyphicon glyphicon-certificate"></span> @Html.DisplayNameFor(model => model.values)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Profile.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.values)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.recognitionID })
          
        </td>
    </tr>
}

</table>
