@model Test_Project.Models.Value

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Value</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stewardship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stewardship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.culture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.culture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryExcellence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryExcellence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.innovation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.innovation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.greaterGood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.greaterGood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.integrityAndOpenness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.integrityAndOpenness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.valueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
