@model IEnumerable<Test_Project.Models.Value>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stewardship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.culture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryExcellence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.innovation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.greaterGood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.integrityAndOpenness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stewardship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.culture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deliveryExcellence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.innovation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.greaterGood)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.integrityAndOpenness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.valueId }) |
            @Html.ActionLink("Details", "Details", new { id=item.valueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.valueId })
        </td>
    </tr>
}

</table>
