<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-default-">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                &nbsp;
                <img alt="Image result for Centric Consulting logo" src="https://ww1.prweb.com/prfiles/2019/04/30/16275299/centric_logo_color.jpg" style="height: 50px; width: 280px" />&nbsp;

            </div>

            <div class="navbar-collapse collapse">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { id = "HomeLink", style = "color: MidnightBlue" })</li>
                    <li>@Html.ActionLink("Discover", "About", "Home", null, new { id = "DiscoverLink", style = "color: MidnightBlue" })</li>
                    <li>@Html.ActionLink("Support", "Contact", "Home", null, new { id = "SupportLink", style = "color: MidnightBlue" })</li>
                    <li>@Html.ActionLink("Employee Directory", "Index", "Profiles", null, new { id = "SupportLink", style = "color: MidnightBlue" })</li>

                    <li><a href="https://www.twitter.com/centric" class="fa fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/company/centric-consulting" class="fa fa-linkedin"></a></li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Centric Consulting Project, Team 6</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
