@model Test_Project.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee Awards</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

    </dl>

    @{

        var DeliveryExcellence = ViewBag.DeliveryExcellence;
        var EmbracingIntegrity = ViewBag.EmbracingIntegrity;
        var Innovation = ViewBag.Innovation;
        var ExceptionalCulture = ViewBag.ExecptionalCulture;
        var WorkplaceIntegrity= ViewBag.WorkplaceIntegrity;
        var Stewardship = ViewBag.Stewardship;
        var LifeBalance = ViewBag.LifeBalance;
        <h6>Delivery Excellence awards = @DeliveryExcellence</h6>
        <h6>Embracing Integrity awards = @EmbracingIntegrity</h6>
        <h6>Innovation awards = @Innovation</h6>
        <h6>Exceptional Culture awards = @DeliveryExcellence</h6>
        <h6>Workplace Integrity awards = @WorkplaceIntegrity</h6>
        <h6>Stewardship awards = @Stewardship</h6>
        <h6>Work Life Balance awards = @LifeBalance</h6>


    }


</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
