@model IEnumerable<Test_Project.Models.Profile>

@{
    ViewBag.Title = "Index";
}

<h2>Directory</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.businessUnit)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.hireDate)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
   
    <td>
        @Html.DisplayFor(modelItem => item.firstName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.lastName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.phone)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    
    <td>
        @Html.DisplayFor(modelItem => item.businessUnit)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.hireDate)
    </td>
    <td>
    @Html.ActionLink("Employee Details", "Details", new { id = item.ID }) |
    @Html.ActionLink("Give Recognition", "Index", "Recognitions")

    </td>
</tr>
}

</table>
